bin/
vendor/

# Drupal configuration
docroot/*
!docroot/sites

docroot/sites/*
!docroot/sites/all

docroot/sites/all/*
!docroot/sites/all/modules
!docroot/sites/all/themes

docroot/sites/all/modules/*
!docroot/sites/all/modules/cegeka
